.landingPageContainer{
    width: 100%;
    height: 100%;
    padding: 10vh 0 0 0;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;
    background: url(../../assets/wallpaperTest.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    background-blend-mode: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.landingPageTitle{
    font-size: 30vh;
    padding: 0;
    margin: 0;
}

.landingPageDetail{
    font-size: 10vh;
    padding: 0;
    margin: 0;
}

.landingPageDescription{
    width: 60vw;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    padding: 1%;
    text-shadow: rgb(0, 0 0) 5px;
    border-radius: 10px;
    background-color: rgba(19, 33, 111, 0.88);
}

.landingPageBtn{
    font-size: 5vh;
    padding: 0;
    margin: 0;
    background-color: #30ab65;
    /* border: transparent;
    border: 0; */
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.18);
    color: white;
    transition: 0.2s ease-in-out;
    height: 10vh;
    aspect-ratio: 2/1;
    border-radius: 10px;

}

.landingPageBtn:hover{
    background-color: rgb(19, 33, 111);
    color: white;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

