.profilesContainer {
  height: 70vh;
  width: 100vw; /* Adjust this width as needed */
  display: flex;
  justify-content: flex-start; 
  flex-direction: row; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  overflow: auto; /* Changed to auto for better handling of overflow */
  padding: 10px; /* Add padding as needed */
  margin-left: 10vw;
}

.mainPageContainer {
  width: 100vw;
  padding: 10vh 0 0 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Changed justify-items to justify-content */
  align-items: center;
  flex-direction: column;
}

.mainPageScreen {
  height: 90vh;
}

ul.mainPageOptions {
  display: flex;
  flex-direction: row;
  list-style: none;
  cursor: pointer;
  margin-top: 0;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.react-tabs__tab {
  padding-left: 5vw;
  padding-right: 5vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.react-tabs__tab--selected {
  background-color: rgb(0, 128, 128);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.react-tabs__tab:hover {
  background-color: rgb(0, 128, 128);
  transition: 0.3s ease-in-out;
  color: white;
}

.tabTitle {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
