.mainPageContainer{
    width: 100%;
    height: 100%;
    padding: 10vh 0 0 0;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.mainPageProfileContainer{
    height: 100%;
    width: 30vw;
    background-color: rgba(128, 128, 128, 0.107);
    box-sizing: border-box;
    /* box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.18); */
    z-index: 2;
}

.mainPageScreen{
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.mainPageOptions{
    height: 8vh;
    width: 90%;
    border-bottom: 0.5vh solid rgba(128, 128, 128, 0.68);
    display: flex;
    padding: 0 0 2vh 0;
    align-items: end;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.mainPageOptionsBtn{
    background-color: transparent;
    border: transparent;
    padding: 0;
    margin: 0;
    transition: transform 0.2s ease-in-out;
}

.mainPageOptionsBtn:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    border-bottom: 0.3vh solid rgb(19, 33, 111);
}

.mainPageDisplay{
    /* background-color: yellow; */
    width: 90%;
    height: 78vh;
    overflow: scroll;
}

.review{
    width: 100%;
    height: 20vh;
    margin-bottom: 3vh;
    background-color: yellow;
}