.mainPageContainer {
  width: 100%;
  padding: 10vh 0 0 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.profilesContainer {
  min-height: 55vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

.mainPageScreen{
  height: 75vh;
}

ul.mainPageOptions {
  display: flex;
  flex-direction: row;
  list-style: none;
  cursor: pointer;
  margin-top: 0;
}

.react-tabs__tab{
  padding-left: 5vw;
  padding-right: 5vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.react-tabs__tab--selected{
    background-color: #01353c;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.react-tabs__tab:hover{
  background-color: #01353cb6;
  transition: 0.3s ease-in-out;
  color: white;
}