.following-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.following-individual{
    display: flex;
    height: 18vh;
    align-items: center;
    border: 1px solid;
    width: 30vw;
    border-radius: 10px;
    padding: 10px;
    background-color: #f7f7f7;
}

.name-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
    font-family: "Lato", sans-serif;
}

.following-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}