.following-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.following-individual{
    display: flex;
    height: 18vh;
    align-items: center;
    border-bottom: 1px solid;
}

.name-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
}