.signupContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpFormContainer {
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  margin-top: 10vh;
  overflow: auto; 
}

/* NEED THIS TO MAKE THE SCROLLBAR INVISIBLE*/
.signUpFormContainer::-webkit-scrollbar {
  width: 8px;
}

.signUpFormContainer::-webkit-scrollbar-track {
  background: transparent; 
}

.signUpFormContainer::-webkit-scrollbar-thumb {
  background: #ffffff00; 
  border-radius: 4px; 
}

.signUpFormContainer::-webkit-scrollbar-thumb:hover {
  background: #ffffff00; 
}

.signupForm {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 0 15vh 0;
}

.signupInput {
  height: 2.5vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.signupInput:focus {
  border-color: #007bff;
}

.signupForm select {
  height: 5vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.signupForm select:focus {
  border-color: rgb(0, 128, 128);
}

.signUpHeader{
  font-family: 'Unbounded', 'sans';
}

.signUpButton {
  width: 12vw;
  height: 7vh;
  align-self: center;
  background-color: rgb(0, 128, 128);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: larger;
}

.signUpButton:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  transform: scale(1.05); 
}

.signUpCheckbox{
  display: flex;
  justify-content: space-around;
}

.signupInputLabel{
  text-align: left;
  font-weight: 600;
}

@media (max-width: 430px){
  form.signupForm{
    width: 90vw;
  }

  .signUpCheckbox{
    justify-content: center;
  }

  .signUpButton{
    width: 30vw;
  }
}